%\n
% .. admonition:: Class members list\n
%    :class: collapsed\n
%\n
{% for el in cl.allElements %}
{% if el.isAccessible %}
%    - `~{{ el.matlabDomainIdentifier }}` -- {{ el.declarations.bestEffortDocFirstLine }}\n
{% end %}
{% end %}
%\n

{% if ~isempty(cl.inheritedDocumentationElements) %}
% .. admonition:: Inherited elements\n
%    :class: collapsed\n
%\n
%\n
{% for el in cl.inheritedDocumentationElements %}
{% if el.isAccessible %}
{% if isequal(el.kind, 'method') %}
%    .. method:: {{ el.name }}{{ el.declarations.bestEffortArgumentString }}\n
%\n
{% if ~isempty(el.declarations.findBestDocumented) %}
%       Documentation in :meth:`{{ el.declarations.findBestDocumented.matlabDomainIdentifier }}`\n
{% else %}
%       No documentation\n
{% end %}
{% else %}
%    .. attribute:: {{ el.name }}\n
%\n
{% if ~isempty(el.declarations.findBestDocumented) %}
%       Documentation in :attr:`{{ el.declarations.findBestDocumented.matlabDomainIdentifier }}`\n
{% else %}
%       No documentation\n
{% end %}
{% end %}
%\n
{% end %}
{% end %}

{% end %}
% .. raw:: html\n
%\n
%    <h3>Own members</h3>\n
%\n
{% for el in cl.ownDocumentationProperties %}
% .. attribute:: {{ el.name }}\n
%\n
%    {{ el.declarations.bestEffortDocFirstLine }}\n
%\n
{% if el.declarations.bestEffortHasPropertyType %}
%    :type: {{ el.declarations.bestEffortPropertyType }}\n
%\n
{% end %}
% ----\n
%\n
{% end %}
